.animation {
    color: red($color: #000000);
}
.image {
    display: flex;
}
.photo {
    display: block;
}
.test {
    align-items: center;
}
.animation_title {
    color: blue;
}
.aller p {
    animation-duration: 5s;
    animation-name: glissement;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }
